/* Different kinds of fonts in body */

*{
	box-sizing: border-box;
}

body, html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
	height: 100%; 
}
/*-----------------------------------------*/

/*Sidenavigation css to make it look right*/
.sidenav {
    height: 100%;
    width: 6.5%;
	z-index: 0;
    top: 0;
    left: 0;
    background-image: linear-gradient(purple, yellow);
	display: block;
	margin: 0;
	float: left;
	position: fixed; 
}

.sidenav ul{
	list-style: none;
	padding:5px;
	width: 100%;
}
nav.sidenav li a{
	text-decoration: none;
	width: 100%;
}

nav.sidenav ul{
	padding: 0;
} 

.divsidenav {
	height: 100%;
	float: left;
	width: 6.5%;	
}

/* Sidenav text traits and block.*/
.sidenav a {
    color: white;
    padding: 20px;
    display: block;
	float: left;
	transition: 0.2s;
}

/* Changes color if you hover above it.*/
.sidenav a:hover {
    background-color: white;
    color: black;
	left: 0;
}

.sidenav2 {
    height: 100%;
    width: 2.06%;
    z-index: 0;
	top: 0;
    right: 0;
    background-image: linear-gradient(purple, yellow);
	display: block;
	margin: 0;
	float: right;
	position: fixed;
}

#Active{
	background-color: white;
	color: black;
}
/*-----------------------------------------*/


/*Table traits*/

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:#f5f5f5;}

/*-----------------------------------------*/


footer {
	height: 100px;
	width: 100%;
	z-index: 1;
	bottom: 0;
	background-color: purple;
	display: block;
	text-align: center;
	float: left;
}

footer p{
	margin: 35px 0px;
	font-family: Courier New;
	font-size: 1.5em;
	color: yellow;
}

/*-----------------------------------------*/


main{
	float: left;
	width: calc(100% - 6.5% - 2.06%);
}

/*-----------------------------------------*/

/*Submit and create user button traits*/
input[type=text], input[type=email], input[type=username], input[type=password], select 
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input[type=submit]
{
	width: 100%;
	background-color: purple;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
}

button
{
	width: 100%;
	background-color: purple;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
}

/*----------------------------------------------------------------------------------*/

/*Media queries*/
@media screen and (max-width: 1400px){
	main{
	float: left;
	width: 100%;
	}
	
/*-----------------------------------------*/	

	.sidenav {
	height: 10%;
    width: 100%;
	z-index: 0;
    top: 0;
    left: 0;
    background-image: linear-gradient(purple);
	display: block;
	margin: 0;
	float: left;
	position: fixed; 
	}

	.sidenav ul{
	list-style: none;
	width: 100%;	
	height: 10%;
	margin: 0; 
	padding: 0;
	}
	
	nav.sidenav li a{
	text-decoration: none;
	height: 10%;
	width: 100%;
	float: left;
	}

	.divsidenav {
	height: 10%;
	float: left;
	width: 100%;	
	}

	.sidenav a {
    color: white;
    padding: 0% 50%;
    display: block;
	float: left;
	transition: 0.2s;
	}

	.sidenav2 {
    height: 10%;
    width: 100%;
    z-index: 0;
	top: 0;
    right: 0;
    background-image: linear-gradient(purple);
	display: inline;
	margin: 0;
	float: right;
	position: fixed;
	}
	
/*-----------------------------------------*/	

	footer {
		height: 40px;
		width: 100%;
		z-index: 1;
		bottom: 0;
		background-image: linear-gradient(purple);
		display: block;
		text-align: center;
		float: left;
	}

	footer p{
		margin: 10px 0px;
		font-family: Courier New;
		font-size: 15px;
		color: yellow;
	}
}


